@import "tailwindcss";

@layer base {
	.monsterrat {
		font-family: "Montserrat", Arial, Helvetica, sans-serif;
		font-optical-sizing: auto;
		font-weight: 500;
		font-style: normal;
	}

	.container {
		max-width: 1440px;
		width: 80%;
		height: 100%;
		padding: 0 25px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;

}